<div id="user-show">
<h1><%= @user.first_name + " " + @user.last_name %></h1>

<div class="add-friend">
  <% is_friend = current_user.friends_with?(@user) %>
  <% if is_friend%>
  <% elsif current_user.requested_friendship?(@user) %>
    Requested friendship
  <% elsif current_user == @user %>
  <% else %>
    <a href="<%= friend_requests_url(requested_id: @user.id) %>" data-method="post">Add Friend</a>
  <% end %>
</div>

<div class="friends">
  <h2>Friends</h2>
  <ul>
    <% @user.friends.each do |friend_id| %>
      <li><a href="<%= user_url(friend_id) %>"><%= User.find(friend_id).full_name %></a></li>
    <% end %>
  </ul>
</div>

<form id="new-post" action="<%= posts_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="post[userwall_id]" value="<%= @user.id %>">

  <% if @user.id == current_user.id %>
    <textarea name="post[description]" id="description" placeholder="What's on your mind?"></textarea>
    <input type="submit" value="Post">
  <% elsif is_friend %>
    <textarea name="post[description]" id="description" placeholder="Write something..."></textarea>
    <input type="submit" value="Post">
  <% end %>
</form>

<ul>
  <% @user.post_sort.each do |post| %>
    <% if post.author == @user %>
      <% name_string = "<a href="+user_url(post.author)+">"+@user.full_name+"</a>" %>
    <% else %>
      <% name_string = "<a href="+user_url(post.author)+">"+post.author.full_name+"</a> > <a href="+user_url(@user)+">"+@user.full_name+"</a>" %>
    <% end %>
    <li class="post">
      <%= name_string.html_safe + ": " + post.description %>
      <br>
      <%= time_ago_in_words(post.updated_at) %> ago
      <br>
      <% if is_friend || @user == current_user %>
        <% like_check = current_user_likes.where({likable_type: "Post", likable_id: post.id}) %>
        <% if like_check != [] %>
          <a href="<%= like_url(like_check[0].id, user_id: @user.id) %>" data-method="delete">Unlike</a>
        <% else %>
          <a href="<%= likes_url({post_id: post.id, user_id: @user.id}) %>" data-method="post">Like</a>
        <% end %>
        <% if (current_user == @user) || (current_user == post.author) %>
          <a href="<%= post_url(post.id, user_id: @user.id) %>" data-method="delete">Delete</a>
        <% end %>
        <br>
      <% end %>
        <%= post.likes.count %> people like this post
        <br>
        <% post.likes.each do |like| %>
          <a href="<%= user_url(like.user) %>"><%= like.user.full_name %></a>
        <% end %>
        <br>
      <ul>
        <% post.comments.each do |comment| %>
          <li class="comment">
            <a href="<%= user_url(comment.author) %>"><%= comment.author.full_name %></a>
            <%= ": "+comment.description %>
            <br>
            <%= time_ago_in_words(comment.updated_at) %> ago
            <br>
            <% if is_friend || @user == current_user %>
              <% like_check = current_user_likes.where({likable_type: "Comment", likable_id: comment.id}) %>
              <% if like_check != [] %>
                <a href="<%= like_url(like_check[0].id, user_id: @user.id) %>" data-method="delete">Unlike</a>
              <% else %>
                <a href="<%= likes_url({comment_id: comment.id, user_id: @user.id}) %>" data-method="post">Like</a>
              <% end %>
              <% if current_user == comment.author %>
                <a href="<%= comment_url(comment.id, user_id: @user.id) %>" data-method="delete">Delete</a>
              <% end %>
            <% end %>
            <%= comment.likes.count %> likes!
            <br>
            <% comment.likes.each do |like| %>
              <a href="<%= user_url(like.user) %>"><%= like.user.full_name %></a>
            <% end %>
          </li>
        <% end %>

        <% if is_friend || @user == current_user %>
          <li>
            <form action="<%= comments_url %>" method="post">
              <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
              <input type="hidden" name="current_user_page_id" value="<%= @user.id %>">
              <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
              <input type="text" name="comment[description]" placeholder="Write a comment...">
              <input type="submit" value="Post">
            </form>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

</div>