<h1><%= @user.first_name + " " + @user.last_name %></h1>
<form action="<%= statuses_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <% if @user.id == current_user.id %>
    <textarea name="post[description]" id="description" placeholder="What's on your mind?"></textarea>
    <input type="submit" value="Post">
  <% else %>
    <textarea name="post[description]" id="description" placeholder="Write something..."></textarea>
    <input type="submit" value="Post">
  <% end %>

  <ul>
    <% @user.posts.each do |post| %>
      <li>
        <%= @user.first_name + " " @user.last_name + ": " + post.description %>
        <br>
        <%= post.updated_at.to_s %>
      </li>
    <% end %>
  </ul>
</form>