<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")</script>
	<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
</head>

<body>
	<section class="nav">
	  <nav>
			<div class="logo"></div>
			<div class="search-bar">
				<input type="text" placeholder="Search for people, places, and things">
				<button>Search</button>
			</div>
			<div class="right-nav">
		    <% if current_user %>
		      <a href="<%= session_url %>" data-method="delete">Log Out</a>
		      <a href="#/users/<%= current_user.id %>"><%= current_user.first_name %></a>
		      <button id="notifications">
	          <div class="not-place"></div>
	          <div class="not-button-place"></div>
		      </button>
		    <% else %>
		      <a href="<%= new_user_url %>">Sign Up</a>
		      <a href="<%= new_session_url %>">Log In</a>
		    <% end %>
			</div>
	  </nav>
  </section>

  <div id="chat-window">
  	<p>Chat: <span id="conn-status"></span></p>
  	<ul id="members"></ul>
  </div>


	<div id="errors">
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

  <%= yield %>

  <div id="chat-boxes">
  	<div class='dummy-chat-box'><div>
  </div>

</body>

<script>
	var pusher = new Pusher('86598b559e05cdb6cd56');
	var channel = pusher.subscribe("presence-chatRoom");
	pusher.connection.bind("state_change", function() {
		$("span#conn-status").text(pusher.connection.state);
	});

	var clientMessageBindFunc = function (data) {
		if ($("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").length !== 0) {
			$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").append("<li class='you'>"+data.message+"</li>");
		} else {
			$("div#chat-boxes").append("<div class='chat-box' id='"+data.chatID+"'><p>"+data.name+"</p><ul class='message-display'></ul><input id='"+data.chatID+"' name='"+data.name+"'  type='text'><div>");
			$("div#chat-boxes div#"+data.chatID+".chat-box input").on("keypress", keyPressBindFunc);
			$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").append("<li class='you'>"+data.message+"</li>");
		}
		$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").scrollTop($("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display")[0].scrollHeight);
	}

	var keyPressBindFunc = function(event) {
		if (event.charCode === 13 && $(event.currentTarget).val() !== "") {
			var message = $(event.currentTarget).val();
			$(event.currentTarget).val("");

			pusher.channels.channels["private-chatRoom-"+event.currentTarget.id].trigger("client-message", {
				message: message,
				chatID: event.currentTarget.id,
				name: $(event.currentTarget).attr("name")
			});
			$("div#chat-boxes div#"+event.currentTarget.id+".chat-box ul.message-display").append("<li class='me'>"+message+"</li>")
			$("div#chat-boxes div#"+event.currentTarget.id+".chat-box ul.message-display").scrollTop($("div#chat-boxes div#"+event.currentTarget.id+".chat-box ul.message-display")[0].scrollHeight);
		}
	}

	var memberAddFunc = function (member, myID, myName) {
		$("ul#members").append("<li id='"+member.id+"'>"+member.info.name+"</li>");

  	if (myID < member.id) {
  		var chatID = myID+"-"+member.id;
  		var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	} else {
  		var chatID = member.id+"-"+myID;
			var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	}

  	chatChannel.bind("client-message", clientMessageBindFunc);

  	$("ul#members li#"+member.id).on("click", function() {
  		if ($("div#"+chatID+".chat-box").length === 0) {
  			$("div#chat-boxes").append("<div class='chat-box' id='"+chatID+"'><p>"+member.info.name+"</p><ul class='message-display'></ul><input id='"+chatID+"' name='"+myName+"' type='text'><div>");

  			$("div#chat-boxes div#"+chatID+".chat-box input").on("keypress", keyPressBindFunc);
  		}
		});
	};

	channel.bind('pusher:subscription_succeeded', function(members) {
		var myID = channel.members.myID.toString();
		var myName = channel.members.me.info.name;

  	members.each( function (member) {
  		if (myID !== member.id) {
  			memberAddFunc(member, myID, myName);
  		}
  	});
	});

	channel.bind('pusher:member_added', function(member) {
		var myID = channel.members.myID.toString();
		var myName = channel.members.me.info.name;

  	memberAddFunc(member, myID, myName);
	});

	channel.bind('pusher:member_removed', function(member) {
		var myID = channel.members.myID.toString();

		$("ul#members li#"+member.id).remove();
		if (myID < member.id) {
  		var chatID = myID+"-"+member.id;
  		var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	} else {
  		var chatID = member.id+"-"+myID;
			var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	}
  	$("div#chat-boxes div#"+chatID+".chat-box").remove();
  	pusher.channels.channels["private-chatRoom-"+chatID].unbind("client-message", clientMessageBindFunc);
	});

</script>

</html>
