<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
		<div class="logo"></div>
		<div class="search-bar">
			<input type="text" placeholder="Search for people, places, and things">
			<button>Search</button>
		</div>
		<div class="right-nav">
	    <% if current_user %>
	      <a href="<%= session_url %>" data-method="delete">Log Out</a>
	      <a href="#/users/<%= current_user.id %>"><%= current_user.first_name %></a>
	      <button id="notifications">
          <div class="not-place"></div>
          <div class="not-button-place"></div>
	      </button>
	    <% else %>
	      <a href="<%= new_user_url %>">Sign Up</a>
	      <a href="<%= new_session_url %>">Log In</a>
	    <% end %>
		</div>
  </nav>

	<div id="errors">
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

  <%= yield %>

</body>
</html>
