<!DOCTYPE html>
<html>
<head>
  <title>Life Long Connections</title>
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")</script>
	<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
</head>

<script>
	var chatAudio = new Audio("<%= audio_url('chat.mp3') %>");
	chatAudio.volume = 0.2;
</script>
<% if current_user %>
<body>
	<section class="nav">
	  <nav>
			<div class="logo"></div>
			<div class="search-bar">
				<input type="text" placeholder="Search for people, places, and things">
				<div class="container">
					<button></button>
				</div>
        <ul class="search-results"></ul>
			</div>
			<div class="right-nav">
		    <% if current_user %>
		      <a href="<%= session_url %>" data-method="delete">Log Out</a>
          <% if current_user.profile_pic_url %>
            <div class='small-profile-pic' style='background-image: url("<%= current_user.profile_pic_url %>")'></div>
          <% else %>
            <div class='small-profile-pic' style='background-image: url("<%= image_url('default_profile_pic.jpg') %>")'></div>
          <% end %>
		      <a href="#/users/<%= current_user.id %>"><%= current_user.first_name %></a>
		      <button id="notifications">
	          <div class="not-place"></div>
	          <div class="not-button-place"></div>
		      </button>
		    <% else %>
		      <a href="<%= new_user_url %>">Sign Up</a>
		      <a href="<%= new_session_url %>">Log In</a>
		    <% end %>
			</div>
	  </nav>
  </section>

  <div id="chat-window">
  	<p>Chat: <span id="conn-status"></span></p>
  	<ul id="members"></ul>
  </div>


	<div id="errors">
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

  <%= yield %>

  <div id="chat-boxes">
  	<div class='dummy-chat-box'><div>
  </div>
</body>

<script>
  $("nav div.search-bar input").on("keyup", function (event) {
    var query = $(event.currentTarget).val();
    $.ajax({
      url: "<%= api_users_search_url %>",
      type: "GET",
      data: {query: query},
      success: function( resp ) {
        $("nav div.search-bar ul.search-results").html("")
        resp.forEach(function (user) {
          if (user.profile_pic_mini_url) {
            var profilePicUrl = user.profile_pic_mini_url;
          } else {
            var profilePicUrl = "<%= image_url('default_profile_pic.jpg') %>";
          }
          $("nav div.search-bar ul.search-results").append("<li><div class='small-profile-pic' style='background-image: url("+profilePicUrl+")'></div><a href='#/users/"+user.id+"'><div class='name'>"+user.first_name+" "+user.last_name+"</div></a></li>")
        });

        $("nav div.search-bar ul.search-results li a").on("click", function (event) {
          $("nav div.search-bar ul.search-results").html("");
          $("nav div.search-bar input").val("");
        });
      }
    });
  });
</script>

<script>
	var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
	var channel = pusher.subscribe("presence-chatRoom");
	pusher.connection.bind("state_change", function() {
		$("span#conn-status").text(pusher.connection.state);
	});

	var clientMessageBindFunc = function (data) {
		chatAudio.currentTime = 0;
		chatAudio.play();

		if ($("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").length !== 0) {
			$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").append("<li><div class='small-profile-pic' style='background-image: url("+data.pic+")'></div><div class='left-arrow'></div><p class='you'>"+data.message+"</p></li>");
		} else {
			$("div#chat-boxes").append("<div class='chat-box' id='"+data.chatID+"'><p>"+data.name+"</p><button class='delete'>&#10006;</button><ul class='message-display'></ul><input id='"+data.chatID+"' name='"+data.name+"' pic='"+channel.members.me.info.pic+"'  type='text'><div>");
			$("div#chat-boxes div#"+data.chatID+".chat-box input").on("keypress", keyPressBindFunc);
			$("div#chat-boxes div#"+data.chatID+".chat-box button.delete").on("click", function (event) {
  				$("div#chat-boxes div#"+data.chatID+".chat-box").remove();
  			});
			$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").append("<li><div class='small-profile-pic' style='background-image: url("+data.pic+")'></div><div class='left-arrow'></div><p class='you'>"+data.message+"</p></li>");
		}
		$("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display").scrollTop($("div#chat-boxes div#"+data.chatID+".chat-box ul.message-display")[0].scrollHeight);
	}

	var keyPressBindFunc = function(event) {
		if (event.charCode === 13 && $(event.currentTarget).val() !== "") {
			chatAudio.currentTime = 0;
			chatAudio.play();

			var message = $(event.currentTarget).val();
			$(event.currentTarget).val("");

			pusher.channels.channels["private-chatRoom-"+event.currentTarget.id].trigger("client-message", {
				message: message,
				chatID: event.currentTarget.id,
				name: $(event.currentTarget).attr("name"),
				pic: $(event.currentTarget).attr("pic")
			});
			$("div#chat-boxes div#"+event.currentTarget.id+".chat-box ul.message-display").append("<li><div class='right-arrow'></div><p class='me'>"+message+"</p></li>").scrollTop($("div#chat-boxes div#"+event.currentTarget.id+".chat-box ul.message-display")[0].scrollHeight);
		}
	}

	var memberAddFunc = function (member, myID, myName, myPic) {
		$("ul#members").append("<li id='"+member.id+"'><div class='small-profile-pic' style='background-image: url("+member.info.pic+")'></div><div class='name'>"+member.info.name+"</div></li>");

  	if (myID < member.id) {
  		var chatID = myID+"-"+member.id;
  		var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	} else {
  		var chatID = member.id+"-"+myID;
			var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	}

  	chatChannel.bind("client-message", clientMessageBindFunc);

  	$("ul#members li#"+member.id).on("click", function() {
  		if ($("div#"+chatID+".chat-box").length === 0) {
  			$("div#chat-boxes").append("<div class='chat-box' id='"+chatID+"'><p>"+member.info.name+"</p><button class='delete'>&#10006;</button><ul class='message-display'></ul><input id='"+chatID+"' name='"+myName+"' pic='"+myPic+"' type='text'><div>");
  			$("div#chat-boxes div#"+chatID+".chat-box input").focus();

  			$("div#chat-boxes div#"+chatID+".chat-box input").on("keypress", keyPressBindFunc);

  			$("div#chat-boxes div#"+chatID+".chat-box button.delete").on("click", function (event) {
  				$("div#chat-boxes div#"+chatID+".chat-box").remove();
  			});
  		}
		});
	};

	channel.bind('pusher:subscription_succeeded', function(members) {
		var myID = channel.members.myID.toString();
		var myName = channel.members.me.info.name;
		var myPic = channel.members.me.info.pic;

  	members.each( function (member) {
  		if (myID !== member.id) {
  			memberAddFunc(member, myID, myName, myPic);
  		}
  	});
	});

	channel.bind('pusher:member_added', function(member) {
		var myID = channel.members.myID.toString();
		var myName = channel.members.me.info.name;
		var myPic = channel.members.me.info.pic;

  	memberAddFunc(member, myID, myName, myPic);
	});

	channel.bind('pusher:member_removed', function(member) {
		var myID = channel.members.myID.toString();

		$("ul#members li#"+member.id).remove();
		if (myID < member.id) {
  		var chatID = myID+"-"+member.id;
  		var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	} else {
  		var chatID = member.id+"-"+myID;
			var chatChannel = pusher.subscribe("private-chatRoom-"+chatID);
  	}
  	$("div#chat-boxes div#"+chatID+".chat-box").remove();
  	pusher.channels.channels["private-chatRoom-"+chatID].unbind("client-message", clientMessageBindFunc);
	});

</script>

<% else %>

<body class="not-signed-in">
  <nav>
    <div class="wrap">
      <div class="site-name">Life Long Connections</div>
      <form action="<%= session_url %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <div class="email">
          <label for="email">Email</label>
          <input type="text" name="user[email]" id="email">
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="user[password]" id="password">
        </div>
        <div class="submit">
          <input type="submit" value="Log In">
        </div>
      </form>
    </div>
  </nav>
  <div class="wrap">
    <div class="description">
      <p>Connect with friends and the world on Life Long Connections.</p>
    </div>
    <div class="sign-up">
      <h1>Sign Up</h1>
      <p>It's free and always will be</p>
      <form action="<%= users_url %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="text" name="user[first_name]" id="first-name" placeholder="First name">
        <input type="text" name="user[last_name]" id="last-name" placeholder="Last name">
        <input type="text" name="user[email]" id="email" placeholder="Email">
        <input type="password" name="user[password]" id="password" placeholder="Password">
        <input type="submit" value="submit">
      </form>
    </div>
  </div>
</body>

<% end %>

</html>
